@CHARSET "UTF-8";

body {
	background: url(images/sky.jpg) no-repeat;
}

table {
	font-size: 18px;
	margin: auto;
	margin-top: 200px;
}

th {
	font: bold 120% monospace;
}

#send_button {
	margin-top: 10px;
	margin-left: 70px;
	padding: 2px 15px;
	font: 120% serif;
	border: 1px solid;
	background-color: #AFEEEE;
}

hr {
	height: 2px;
	border: none;
	background-color: #B0C4DE;
	color: #B0C4DE;
}